<div class="row">
    <div class="col-md-6 offset-md-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h4>Introduzca los siguientes datos:</h4>
            <label>Correo Electrónico</label>
            <input type="email" id="inputEmail" class="form-control" formControlName="email" required autofocus>
            <label>Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" formControlName="password" required>
            <hr>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Inicie sesión</button>
        </form>
        <p class="alert alert-danger" *ngIf="mensaje">
            El usuario o contraseña no es correcto
        </p>
        <div id="googleDiv">
            <div>
                <button (click)="loginGoogle()" class="google"> Entra o Regístrate con Google <span
                        class="icon"></span></button>
            </div>
            <div>
                <button (click)="loginTwitter()" class="google"> Entra o Regístrate con Twitter <span
                        class="iconTwitter"></span></button>
            </div>
            <a routerLink="/registro" routerLinkActive="active" class="create-account-txt">¿No tienes cuenta? <strong>Regístrate aquí</strong></a>
        </div>
    </div>
</div>